.auth__input-password {
  width: 358px;
height: 14px;
margin: 0 auto;
padding: 0;
border: none;
margin-top: 30px;
color: #CCCCCC;
background: #000000;
border-bottom: 2px solid #CCCCCC;
padding-bottom: 13px;
}