.popup__input {
  max-width: 358px;
  margin: 0;
  margin-top: 30px;
  border: none;
  max-height: 27px;
  border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
@media (max-width: 905px) {
  .popup__input {
    max-width: 234px;
    margin-top: 36px;
  }
}