.footer {
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 60px;
  max-width: 880px;
}
@media (max-width: 905px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    margin-left: 19px;
  }
}