.popup__button-close {
  background-image: url(../../../../images/popup_button_close.svg);
  background-color: transparent;
  width: 32px;
  height: 32px;
  background-size: cover;
  position: absolute;
  border: none;
  top: -40px;
  right: -40px;
  cursor: pointer;
}
.popup__button-close:hover {
  opacity: 0.6;
}
@media (max-width: 905px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}