.header {
  display: flex;
  margin: 0 auto;
  max-width: 880px;
  padding-top: 45px;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media (max-width: 906px) {
  .header {
    max-width: 500px;
    padding-left: 40px;
  }
}
@media (max-width: 320px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
    padding-left: 27px;
  }
}
