.auth__button {
  margin: 0 auto;
  padding: 0;
  width: 358px;
height: 58px;
border: none;
margin-top:  258px;
border-radius: 2px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;
cursor: pointer;
background: #FFFFFF;


}
.auth__button:hover {
  opacity: 0.6;
}